* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
body .container {
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  min-width: 450px;
}
body .title-menu {
  background: #15b6c0;
  left: 0;
  right: 0;
  top: 0;
  min-height: 500px;
  max-height: 210px;
}
body .title-menu img {
  max-width: 100px;
  max-height: 100px;
}
body .animation-pictures-sun {
  transform-style: preserve-3d;
  animation: translate 120s infinite ease-in-out;
  z-index: 4;
  float: left;
  max-width: 10px;
}
body .animation-pictures-cloud {
  transform-style: preserve-3d;
  animation: translate 175s infinite ease-out;
  -webkit-animation: translate 175s infinite ease-out;
  max-width: 10px;
  z-index: 5;
  float: left;
}
body .animation-pictures-cloud-2 {
  margin: 100px 0 0 -130px;
  transform-style: preserve-3d;
  animation: translate 250s infinite linear;
  -webkit-animation: translate 250s infinite linear;
  max-width: 10px;
  z-index: 5;
  float: left;
}
body .animation-pictures-cloud-3 {
  margin: 150px 90px 0;
  transform-style: preserve-3d;
  max-width: 10px;
  z-index: 5;
  float: right;
  -webkit-animation: undo-translate 160s linear alternate-reverse infinite;
  animation: undo-translate 160s linear alternate-reverse infinite;
}
body .animation-pictures-cloud-4 {
  margin: 30px 90px 0;
  transform-style: preserve-3d;
  max-width: 10px;
  z-index: 5;
  float: right;
  -webkit-animation: undo-translate 510s linear alternate-reverse infinite;
  animation: undo-translate 510s linear alternate-reverse infinite;
}
body .more {
  top: 500px;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 70px;
  max-height: 70px;
  position: absolute;
  background: blue;
  z-index: 4;
}
body .kor-1 {
  max-width: 300px;
  max-height: 200px;
  left: 0;
  right: 0;
  top: -150px;
  position: relative;
  float: left;
  transform-style: preserve-3d;
  z-index: 4;
  -webkit-animation: kor 4s ease-out alternate-reverse infinite;
  animation: kor 4s ease-out alternate-reverse infinite;
}
body .kor-2 {
  max-width: 170px;
  max-height: 170px;
  left: -50px;
  right: 0;
  top: -130px;
  bottom: 0;
  position: relative;
  float: right;
  transform-style: preserve-3d;
  z-index: 4;
  -webkit-animation: kor 3s ease-out alternate infinite;
  animation: kor 3s ease-out alternate infinite;
}
body .animation-pictures-cloud-5 {
  transform-style: preserve-3d;
  max-width: 10px;
  z-index: 5;
  float: right;
  -webkit-animation: undo-translate 100s ease-out alternate-reverse infinite;
  animation: undo-translate 100s ease-out alternate-reverse infinite;
}
body .main-container {
  left: 0;
  top: 570px;
  right: 0;
  bottom: 0;
  min-height: 250px;
  position: absolute;
  background: #5b4719;
  padding: 50px;
  z-index: 8;
}
body .main-container div {
  cursor: pointer;
  left: 100px;
  right: 0;
  top: 80px;
  bottom: 0;
  position: relative;
  background: #cca800;
}
body .main-container div:hover {
  border: 2px solid yellowgreen;
  color: #fa3c34;
}
body .main-container i {
  padding: 0 20px 0;
  font-weight: 900;
  font-size: 2.5em;
}
body .main-container img {
  margin: 0;
  padding: 20px 20px 10px 20px;
  float: left;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}
body .umbrella {
  left: 250px;
  right: 0;
  top: -100px;
  bottom: 0;
  position: absolute;
  min-width: 200px;
  min-height: 200px;
  max-height: 300px;
  z-index: 6;
}
body .umbrella-2 {
  float: right;
  left: 750px;
  right: 0;
  top: -130px;
  bottom: 0;
  position: absolute;
  z-index: 6;
}
body .gh {
  width: 250px;
  min-width: 250px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #1e6bd8;
  box-shadow: red;
  z-index: 4;
  float: left;
}
body .vk {
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #1e6bd8;
  box-shadow: red;
  z-index: 4;
  float: left;
}
@keyframes translate {
  50% {
    transform: translate(1150px, 0);
    -webkit-transform: translate(1150px, 0);
    /** Chrome & Safari **/
    -o-transform: translate(1150px, 0);
    /** Opera **/
    -moz-transform: translate(1150px, 0);
    /** Firefox **/
  }
}
@keyframes undo-translate {
  50% {
    transform: translate(-1550px, -50px);
    -webkit-transform: translate(-1550px, -50px);
    /** Chrome & Safari **/
    -o-transform: translate(-1150px, -50px);
    /** Opera **/
    -moz-transform: translate(-1150px, -50px);
    /** Firefox **/
  }
}
@keyframes kor {
  50% {
    transform: translate(10px, 4px) rotate(2deg);
    -webkit-transform: translate(10px, 4px) rotate(2deg);
    /** Chrome & Safari **/
    -o-transform: translate(2px, 4px) rotate(2deg);
    /** Opera **/
    -moz-transform: translate(2px, 4px) rotate(2deg);
    /** Firefox **/
  }
}
